<div class="footer">
    <div class="content-box">
        <div class="info">
            <h1>• Contra el racismo</h1>
            <p>Correo: liid_utpl.edu.ec Telefono: 370 1444
                Dirección: Edificio 9, Tercera Planta AltaCampus Utpl - San Cayetano Alto S/N</p>
            <div class="icons">
                <a href=""><img src="/assets/Icons/instagram.png" alt="Icono de instagram"></a>
                <a href=""><img src="/assets/Icons/twitter.png" alt="Icono de twitter"></a>
                <a href=""><img src="/assets/Icons/facebook.png" alt="Icono de facebook"></a>
                <a href=""><img src="/assets/Icons/youtube.png" alt="Icono de youtube"></a>
            </div>
        </div>
        
        <div class="list-container">
            <p>SOBRE NOSOTROS</p>
            <ul>
                <li><a href="">> Servicios</a></li>
                <li><a href="">> Proyectos</a></li>
                <li><a href="">> Iniciativas</a></li>
                <li><a href="">> Laboratorio</a></li>
            </ul>
          </div>
          <div class="list-container">
            <p>RECURSOS</p>
            <ul>
                <li><a href="">> Consultorio UTPL1</a></li>
                <li><a href="">> Psicología</a></li>
                <li><a href="">> Asociaciones Aliadas</a></li>
                <li><a href="">> Buzon Inforamtivo</a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>SENSIBILIZACÓN E IGUALDAD</p>
        </div>
        <div class="copyright">
        </div>
          <div class="copyright">
            <p>COPYRIGHT LIID | UTPL 2022</p>
        </div> 
    </div>
</div>
