<div class="titulo">
    Contra El &nbsp;&nbsp;&nbsp;Racismo
</div>

<div class="contenedor">
    <div class="cuadro">
        <div class="izquierda">
            <h2>Quienes somos? </h2>
            <p>Aunque se han logrado avances significativos en muchos sectores, las sociedades siguen estando expuestas
                a discriminación, racismo y desigualdades. Ninguno de los múltiples y complejos desafíos de nuestro
                tiempo pueden ser abordados de manera efectiva sin inclusión. Este es el rotundo mensaje de la Agenda
                2030 y de su promesa de «no dejar a nadie atrás».
                El mundo está cada vez más interconectado, pero eso no significa que los individuos y las sociedades
                convivan de verdad, como lo demuestra el sufrimiento de millones de pobres, mujeres, jóvenes, personas
                migrantes y minorías privados de sus derechos.
                En este nuevo contexto globalizado y turbulento, se debe promover un mensaje fundamental: la paz no es
                sinónimo de ausencia de guerra, sino que significa vivir juntos, respetando las diferencias de sexo,
                etnia, lengua, religión y cultura; y difundiendo el respeto universal por la justicia y los derechos
                humanos. Vivir en paz es el resultado de las decisiones que tomamos en cada situación que afrontamos,
                así como de las elecciones que hacemos en nuestra vida cotidiana, que nos comprometen a entablar un
                diálogo sincero con otras personas y otras comunidades.</p>
            <h2>Temas de interés </h2>
            <p>Somos un espacio de informacion y sensibilización en igualdad y prevención de Violencia de Género.</p>
            <p>Somos un espacio de informacion y sensibilización en igualdad y prevención de Violencia de Género.</p>
            <p>Somos un espacio de informacion y sensibilización en igualdad y prevención de Violencia de Género.</p>
        </div>


        <div class="derecha">
            <iframe id="youtube-player" src="https://www.youtube.com/embed/FsZxoXVMsrA?controls=0" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <div class="texto">
                <h2>Colaboradores </h2>
                <p>Somos un espacio de información y sensibilización en igualdad y prevención de Violencia de Género.
                    Los puntos violeta son espacios físicos, casetas o carpas que se establecen durante eventos de ocio
                    y que sirven para denunciar agresiones machistas</p>
                <div class="imagenes">
                    <img src="C:\Users\jpvpv\Documents\Cuarto ciclo\Practicum 1.2\Angular\AngularNotes\src\assets"
                        alt="Imagen 1">
                    <img src="C:\Users\jpvpv\Documents\Cuarto ciclo\Practicum 1.2\Angular\AngularNotes\src\assets"
                        alt="Imagen 2">
                    <img src="C:\Users\jpvpv\Documents\Cuarto ciclo\Practicum 1.2\Angular\AngularNotes\src\assets"
                        alt="Imagen 3">
                </div>
            </div>
        </div>

    </div>
</div>