@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
  background-image: url('assets/Images/fondo.png'), linear-gradient(to bottom, #DDC9BE, white, #DDC9BE);
  background-position: center top, center 1040px;
  position: absolute, center ;
  background-size: 1728px 1040px, 1728px 5000px;
  background-repeat: no-repeat, no-repeat;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  
}
html, body { height: 100%; }
body { margin: 0 }